/* Structure */
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  background-image: url("../public/bk.jpg");
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.game{
  margin: 10px;
}

/* Header */
.header{
  width:100%;
  color: white;
  flex: 1 100%;
  font-size: 3em;
  font-weight: bolder;
  padding: 0px;
  text-align: center;
}

span{
  color:#09273f;
}

.gameType{
  font-size: 20px;
  color:#09273f;
}

/* Game Message */
.game-info{
  border: rgba(0,0,0,0.9);
  padding: 10px;
  /*margin: 15px;*/

  /*line-height: 0px;*/
}

.message{
  height: 40px;
  font-style: italic;
}
.t-score{
  font-size: 3em;
  float: right;
  color: #09273f;
  font-weight: 700;
}
.p-score{
  font-size: 3em;
  float: left;
  color: #09273f;
  font-weight: 700;
}

/* Clear Game Button */

.button{
  background-color: #09273f;

  color: white;
  cursor: pointer;
  margin: auto;
  display: inline;
  border: 2px #09273f solid;
  padding: 3px;
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-top: 10px;
}
#clear{
  margin-left: 15px;
}
.button:focus {
  outline: none;
}
.button:hover {
  background: inherit;
}

/* Game Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  cursor: pointer;
  padding: 0;
  border: none;
  background: inherit;
  color:white;
  float: left;
  font-size: 44px;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
}

#horizontal-line{
  border-bottom:4px solid rgba(9,36,58,0.9);
}
#vertical-line{
  display: inline;
  background-color: rgba(0,0,0,0.5);
  border: 0px;
}
